<!DOCTYPE html>

<html>
<head>
    <meta charset=utf-8">
    <title>Twig POST</title>
</head>
<body>
    <form method="post" action="update">
        <label> ID: </label> <br>
        <input type="text" id="1" name="id" value={{ id }} readonly></input> <br>
        <label> Name: </label> <br>
        <input type="text" id="2" name="name" value={{ name }}></input>
        <br>
        <label> Model: </label> <br>
        <input type="text" id="3" name="model" value={{ model }}> </input>
        <br>
        <label> Year: </label> <br>
        <input type="number" id="4" name="year" value={{ year }}> </input> <br><br>
        <input class="btn btn-success" name="submit" type="submit" value="Edit">
    </form>
</body>
</html>